<div>
  <app-header></app-header>
  <div class="container px-0">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <div>
      <p-dataView #dv [value]="categories" layout="grid" [emptyMessage]="'Δεν βρέθηκαν απολέσματα'">
        <ng-template let-category pTemplate="gridItem">
          <div class="p-col-6 p-lg-5 p-xl-3">
            <a href="{{category.url}}">
              <div class="card">
                <img src="{{category.image}}" class="card-img-top" style="max-height: 400px ;" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title m-0">{{category.name}}</h5>
                </div>
              </div>
            </a>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
