<div class="card text-center container p-0 border-0">
  <div class="card-header border-0">
    <ul class="nav nav-tabs card-header-tabs justify-content-center">
      <li class="nav-item mx-lg-4">
        <a [ngClass]="selectedTab === 'Γυναικεία' ? 'active' : ''" class="nav-link border-0" href="αρχικη/γυναικεια">Γυναικεία</a>
      </li>
      <li class="nav-item mx-lg-4">
        <a [ngClass]="selectedTab === 'Aνδρικά' ? 'active' : ''" class="nav-link border-0" href="αρχικη/ανδρικα">Ανδρικά</a>
      </li>
      <li class="nav-item mx-lg-4">
        <a [ngClass]="selectedTab === 'Παιδικά' ? 'active' : ''" class="nav-link border-0" href="αρχικη/παιδικα">Παιδικά</a>
      </li>
    </ul>
  </div>
