<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a [ngClass]="selectedTab === 'Γυνακεία' ? 'active' : ''" class="nav-link" href="αρχικη/γυναικεια">Γυνακεία</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="selectedTab === 'Aνδρικά' ? 'active' : ''" class="nav-link" href="αρχικη/ανδρικα">Ανδρικά</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="selectedTab === 'Παιδικά' ? 'active' : ''" class="nav-link" href="αρχικη/παιδικα">Παιδικά</a>
      </li>
    </ul>
  </div>
